<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
      
      <!-- <bean id="data" class="com.naresh.core.data.EmployeeData">
      </bean>
      
      <bean id="service" class="com.naresh.core.service.EmployeeService">
      <property name="employeeData" ref="data"></property>
      <property name="controller" ref="controller"></property>
      <constructor-arg ref="data"></constructor-arg>
      </bean>
      
      <bean id="controller" class="com.naresh.core.controller.EmployeeController">
      <property name="service" ref="service"></property>
      <constructor-arg ref="service"></constructor-arg>
      </bean> -->
      
     
      
      <!-- <bean id="pavan" class="com.naresh.core.flow.Pavan">
      <property name="srilatha" ref="srilatha"></property>
      <constructor-arg ref="srilatha"></constructor-arg>
      </bean> -->
      
      <!--  <bean id="srilatha" class="com.naresh.core.flow.Srilatha" lazy-init="true">
       <property name="naresh" ref="naresh"></property>
       <constructor-arg ref="naresh"></constructor-arg>
      </bean>
      
      <bean id="naresh" class="com.naresh.core.flow.Naresh" lazy-init="true">
      <property name="srilatha" ref="srilatha"></property> 
      <constructor-arg ref="srilatha"></constructor-arg>
      </bean> -->
      
      <!-- <bean id="studentNaresh" class="com.naresh.core.collection.Student">
      <property name="studentName" value="Naresh"></property>
      <property name="marks">
      <list>
      <value>85</value>
      <value>92</value>
      <value>95</value>
      <value>100</value>
      <value>81</value>
      <value>75</value>
      </list>
      </property>
      </bean>  -->
      
      <!-- <bean id="person1" class="com.naresh.core.collection.Person">
      <property name="personName" value="Naresh"></property>
      <property name="phoneNumbers">
      <set>
      <value>9951288766</value>
      <value>9951288766</value>
      <value>9951288667</value>
      </set>
      </property>
      </bean> -->
      
      <!-- <bean id="studentNaresh" class="com.naresh.core.collection.Student">
      <property name="studentName" value="Naresh"></property>
      <property name="marks">
      <map>
      <entry key="Telugu" value="100"></entry>
      <entry key="English" value="85"></entry>
      <entry key="Hindi" value="75"></entry>
      <entry key="Maths" value="84"></entry>
      <entry key="Science" value="74"></entry>
      <entry key="Social" value="95"></entry>
      </map>
      </property>
      </bean>  -->
      
      <bean id="palnadu" class="com.naresh.core.autowiring.Train" primary="true">
      <property name="trainName" value="janmabhumi"></property>
      <property name="trainNumber" value="12806"></property>
      <property name="startsAt" value="Lingamapally"></property>
      <property name="endsAt" value="Vizag"></property>
      </bean>
      
      <bean id="janmabhum" class="com.naresh.core.autowiring.Train">
      <property name="trainName" value="palnadu"></property>
      <property name="trainNumber" value="12808"></property>
      <property name="startsAt" value="Vikarabad"></property>
      <property name="endsAt" value="Guntur"></property>
      </bean>
      
      <bean id="traveller1" class="com.naresh.core.autowiring.Traveller" autowire="constructor">
      <!-- <property name="name" value="Naresh"></property> -->
      <constructor-arg value="Naresh"></constructor-arg>
      <!-- <property name="train" ref="janmabhumi"></property> -->
      </bean>
      
      <bean id="test1" class="com.naresh.core.lifecycle.Test" init-method="m1" destroy-method="m2" >
		  
	  </bean>
      
      
      
      
</beans>